@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.mybuttonFormstep1new {

background-color: #FB8458;
color:white;
padding-top: 0.9%;
padding-bottom: 0.9%;
padding-left: 3%;
padding-right: 3%;
border-radius: 25px;
font-family: "Raleway", sans-serif;
min-width: 120px;
border: 1px solid #d0d0d0;
font-weight: 400;
margin-top: 5%;
display: flex;
justify-content: center;
font-size: large;
margin-bottom: 2%;


}

.box-f2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;
  margin: auto;


}
.box-f3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  display:flex;
  margin: auto;
  font-size: small;

}
.mini{
  margin-top: 1%;
  margin-left: 0.5%;
}
.alladobotonhome{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
  margin-top: 6%;
  margin-left: 2%;
}
.new_title{
  font-family: "Raleway", sans-serif;
  color:black;
  align-items:center;
  justify-content: center;
  text-align:center;
  font-weight: 400;
  font-size:x-large;
  letter-spacing: 0.10em;
  line-height:1.5em;



}
.new_title_2{
  font-family: "Raleway", sans-serif;
  color:black;
  align-items:center;
  justify-content: center;
  text-align:center;
  font-weight: 400;
  font-size:large;
  letter-spacing: 0.10em;



}
.paragraformsub{
  font-family: 'Lato', sans-serif;
  color:black;
  align-items:center;
  justify-content: center;
  text-align:center;
  font-weight: 400;
  font-size:20px;
  background-image: none;
  margin-top: 2%;

}
.condiciones{
  font-family:  "Raleway", sans-serif;
  color:black;
  align-items:center;
  justify-content: center;
  text-align:center;
  font-weight: 400;
  font-size:medium;
  margin-bottom: 8%;



}
.title_bar{
  font-family: "Raleway", sans-serif;
  color:black;
  text-align:center;
  font-weight: 400;
  font-size:x-large;
 
}
.hr{

  border: 2px solid LightSeaGreen;
  margin-top: 40px;

}
.hr_d{

  border: 2px solid LightSeaGreen;
  margin-top: 20px;

}


@media only screen and (max-width: 450px) {
  .mybuttonFormstep1new {
    background-color: #FB8458;
    color:white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 35px;
    font-family: "Raleway", sans-serif;
    min-width: 120px;
    border: 1px solid #d0d0d0;
    font-weight: 400;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size:x-large;
    margin-bottom: 8%;
    
    
    }
    .bg {

      background-size: contain;
      background-repeat: no-repeat;
      background-position:120%;
      background-attachment: local;
   
      max-width:450px;

    }
    .new_title{
      font-family: "Raleway", sans-serif;
      color:black;
      align-items:center;
      justify-content: center;
      text-align:center;
      font-weight: 400;
      font-size:20px;
    
    }
    .new_title_2{
      font-family: "Raleway", sans-serif;
      color:black;
      align-items:center;
      justify-content: center;
      text-align:center;
      font-weight: 400;
      font-size:large;
      letter-spacing: 0.10em;
      margin-bottom: 3%;
  
    
    }
}




