@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.titleS2{
  font-family: "Raleway", sans-serif;
  color:black;
  align-items:center;
  justify-content: center;
  text-align:center;
  font-weight: 400;
  font-size:19px;
  letter-spacing: 0.10em;
  line-height:1.5em;
  padding-bottom: 2%;

}
.radio-buttons-container {
  display: flex;
  justify-content: center;
}

.radio-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px; /* Anchura máxima de los radio buttons */
}

.radio-button-container {
  margin-bottom: 10px;
}

.radio-label {
  background-color: #FB8458;
  color: white;
  padding: 4% 8%;
  border-radius: 35px;
  font-family: "Raleway", sans-serif;
  min-width: 450px;

  border: 1px solid #d0d0d0;
  font-weight: 400;
  font-size: large;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.radio-label::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid #FB8458;
  background-color: white;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.backarrow{
  margin-right: 1px;
  cursor: pointer;
}
.backarrow svg {
  width: 24px; /* Ancho deseado */
  height: 24px; /* Alto deseado */
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .radio-label::before {
  background-color: lightgray; /* Color del círculo */
  border: 2px solid #FFF; /* Borde blanco alrededor del círculo */
}
@media only screen and (max-width: 450px) {
  .titleS2{
    padding-bottom: 8%;

  }
  .radio-label {

    min-width: 320px;}
    .radio-label {
      font-size: 13px;}
      .backarrow svg {
        width: 20px; /* Ancho deseado */
        height: 20px; /* Alto deseado */
      }

}
